.smartwoo-support-layout {
	display: flex;
	gap: 10px;
	margin: 10px auto;
    justify-content: space-between;
    max-width: 1000px;
    border: dashed #dcdcde 1.5px;
    border-radius: 6px;
    padding: 10px 25px;

}

.smartwoo-support-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
    max-width: 60%;
}

.smartwoo-support-item {
	display: flex;
	align-items: flex-start;
	padding: 12px;
	border: 1px solid #dcdcde;
    background-color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: border-color .2s, background .2s;
}

.smartwoo-support-item:hover {
	background: #f8f9fa;
	border-color: #0073aa;
}

.smartwoo-support-item input {
	margin-top: 4px;
	margin-right: 10px;
}

.smartwoo-support-content h3 {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}

.smartwoo-support-price {
	color: #2271b1;
	margin: 4px 0;
    font-weight: 700;
    font-size: 14px;
}

.smartwoo-support-summary {
    max-width: 350px;
    width: 35%;
}

.smartwoo-support-summary h2 {
	margin-top: 0;
}

.smartwoo-support-summary-inner {
	position: sticky;
	top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 10px;
}

.smartwoo-support-summary-inner h2 {
    margin: 0;
}

/** Support Inbox styles */
.callismart-support-inbox-consent-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 30px;
    padding: 10px 15px;
    background-color: #fff;
    border-left: 4px solid #2563eb;
    width: 1200px;
    max-width: 90%;
}

.callismart-app-support-inbox {
    display: flex;
    flex-direction: row;
    padding: 0;
    max-width: 95%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
    height: 510px;
    border-radius: 8px;
    overflow: hidden;
}

.callismart-app-support-inbox_left {
    height: 100%;
    width: 300px;
    border-right: solid 4px #dcdcde;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: width;

}
.callismart-app-support-inbox_right {
    padding: 5px;
    width: calc(100% - 300px);
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: width;

}

.callismart-app-support-inbox_left-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
}

.callismart-app-support-inbox_left-header span {
    width: 100%;
    font-size: 18px;
    font-weight: 800;
}

.callismart-app-support-inbox_left-header-quick-actions,
.callismart-app-support-inbox_left-header-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.callismart-app-support-inbox-markAllRead,
.callismart-app-support-inbox-refresh {
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: #ca7575;
    cursor: pointer;
}
.callismart-app-support-inbox-refresh:before {
    content: "\f463";
    font-family: 'dashicons';
    line-height: 1.5;
}
.callismart-app-support-inbox-markAllRead:before {
    content: "\f147";
    font-family: 'dashicons';
    line-height: 1.5;
}

.callismart-app-support-inbox-markAllRead:hover,
.callismart-app-support-inbox-refresh:hover {
    transform: translateY(-1px);
}
.callismart-app-support-inbox-markAllRead:disabled,
.callismart-app-support-inbox-refresh:disabled {
    cursor: not-allowed;
}

.callismart-app-support-inbox-refresh.active {
    animation: spin 1s linear infinite;

}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.callismart-app-support-inbox_left-messages-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 78%;
    overflow-y: auto;
    scrollbar-width: thin;
}
.masterCheckBox {
    padding-left: 10px;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.masterCheckBox.active {
    max-height: 300px;
    opacity: 1;
}

.callismart-app-support_message {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
    box-shadow: 1px 1px 10px rgb(2 2 2 / 6%);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.callismart-app-support_message.empty-messages {
    margin: 20px auto;
}
.callismart-app-support_message:not( .empty-messages ) {
    cursor: pointer;
}

.callismart-app-support_message.unread {
    background-color: #f1f1f1;
    font-weight: 900;
}

.callismart-app-support_message.active {
    border-left: solid 4px blue;
}

.callismart-app-support_message-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
}

.callismart-app-support-inbox_right-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.callismart-app-support-inbox:has( .callismart-app-support-inbox_right.has-content ) .callismart-app-support-inbox_right-header {
    border-bottom: dotted 1px #dcdcde;
}

.callismart-app-support-inbox_right-header .subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.callismart-app-support-inbox_right-header .subject h2 {
    font-size: 1.2rem;
    color: #333333;
    font-weight: 800;
    line-height: 1.5;
    max-width: 80%;
}
.callismart-app-support-inbox_right-header .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}
.callismart-app-support-inbox_right-message-body:not( :has( svg ) ) {
    background-color: #f1f1f1;
    margin: 10px;
    height: 350px;
    border-radius: 8px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #ffffff;
    padding: 2px 10px;
    font-size: 1.5rem;
}

.callismart-app-support-inbox_right-message-body:has( svg ) {
    display: flex;
    justify-content: center;
    align-items: anchor-center;
    height: 100%;
    width: 97%;
    margin: auto;
}

/* .callismart-app-support-inbox_right-message-body > svg {
    width: 90%;
} */

#mobile-close {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    display: none;
}
#mobile-close:before {
    content: "\f340";
    font-family: 'dashicons';
}

@media (min-width: 180px) and (max-width: 782px )  {
    .callismart-app-support-inbox:has( .callismart-app-support-inbox_right.has-content ) .callismart-app-support-inbox_left {
        width: 0;
        border: none;
        overflow: hidden;
    }

    .callismart-app-support-inbox .callismart-app-support-inbox_left {
        width: 100%;
        border: none;
    }
    
    .callismart-app-support-inbox:not( .callismart-app-support-inbox_right.has-content ) .callismart-app-support-inbox_right {
        overflow: hidden;
        width: 0;
    }
    .callismart-app-support-inbox:has( .callismart-app-support-inbox_right.has-content ) .callismart-app-support-inbox_right {
        width: 100%;
    }

    #mobile-close {
        display: block;
    }
    .callismart-app-support-inbox_right-message-body:not( :has( svg ) ) {
        height: 312px;
    }
}