html, body {
	font-family: Arial, sans-serif;
	color: #333;
}
body {
	background-color: #f7f8fa;
	margin: 0;
	padding: 0;
}


.smartwoo-setup-wizard {
	background: #fff;
	padding: 30px;
	border: 1px solid #ccd0d4;
	border-radius: 8px;
	max-width: 700px;
	margin: 30px auto;
}

.smartwoo-step {
	margin-bottom: 30px;
}

.smartwoo-step h2 {
	border-bottom: 1px solid #e2e4e7;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.smartwoo-step label {
	display: block;
	margin-top: 15px;
	font-weight: 600;
}

.smartwoo-step input[type="text"] {
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #dcdcde;
	border-radius: 4px;
	height: 30px;
}
.smartwoo-step select {
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #dcdcde;
	border-radius: 4px;
	height: 50px;
}
.smartwoo-step input:focus,
.smartwoo-step select:focus {
	outline: none;
	border: 2px #4357F1 solid;
	transform: translateY( 2px );
	box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.7);
}

.smartwoo-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.button {
	min-width: 120px;
	text-align: center;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #dcdcde;
	border-radius: 4px;
	text-decoration: none;
	padding: 10px 15px;
}

.smartwoo-buttons .button.button-primary {
	background-color: #0073aa;
	color: #fff;
	border-color: #0073aa;
}

.smartwoo-buttons .finish-step {
	margin-left: auto;
}
