/**
 * This file contains all the CSS File for this plugin although there are some point where it was neccessary for us to
use inline CSS to overide some styles
 */

/************************************************************************************/
/**************************CSS for admin pages starts here **********************************/
/************************************************************************************/

/************** Button CSS******************/


.sw-red-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #db5534;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 9px;
	border: 2px solid #fafafa;
	margin-right: 10px;
}

/* Style for the on hover */
.sw-red-button:hover {
	background-color: #2980b9;
	color: rgb(250, 250, 9);
}

.sw-blue-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6; /* Button background color */
	color: #fff; /* Text color */
	text-decoration: none;
	border: 2px solid #fafafa;
	border-radius: 9px;
	cursor: pointer;
	margin: 5px;
	font-weight: bold;
	transition: background-color 0.3s, color 0.3s;
}

.sw-blue-button:hover {
	background-color: #3f8fe6; /* Hover background color */
	border: 1px solid #01060a; /* Hover border color */
	color: rgb(236, 236, 13);
}

.account-button {
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 14px;
	background-color: red;
	color: white;
	border-radius: 9px;
}

/************** Button CSS Ends here******************/

/************** Dashboard Service Details CSS Starts here******************/

/* Style for the dashboard container */
.dashboard-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;
	background-color: #ffffff;
	border-radius: 7px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	text-align: center;
	margin-bottom: 20px;
}


/* Style the container for each list */
.dashboard-list-container {
	display: inline-block;
	vertical-align: top;
	width: 45%; /* Adjust width and consider margin */
	margin: 0 10px; /* Add horizontal margin for spacing */
	padding: 20px; /* Add padding to create space within the boxes */

	box-sizing: border-box; /* Include padding and borders in width calculation */
}

.dashboard-list-card {
	background-color: #ffffff;
	border-radius: 9px;
	text-align: center;
	min-height: 200px;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
}
.dashboard-list-card h2 {
	padding-top: 20px;
}

.dashboard-list-card:hover {
	box-shadow: none; /* Remove shadow on hover */
	transform: translateY(5px); /* Move container slightly down */
}

/* Style the list items */
.dashboard-list-card ul {
	list-style: none;
	padding: 10px;
	width: 100%;

}

.dashboard-list-card li {
	margin-bottom: 10px;
	padding-right: 10px;
	text-align: left;
}
.dashboard-list-card a {
	text-decoration: none;
	color: #2271b1;
	transition: color 0.2s;
	font-size: 14px;
}

.dashboard-list-card a:hover {
	background-color: #683c02;
	color: #ffffff;
	border-radius: 9px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
}
@media (max-width: 480px){

	.dashboard-container{
		display: flex;
		flex-wrap: wrap;
	}
	.dashboard-list-container{
		width: 90%; /* Adjust width and consider margin */

	}
}
/* Style for the title in each card */
.dashboard-card h2 {
	font-size: 18px;
	margin: 10px 0;
}

/* Style for the count in each card */
.dashboard-card .count {
	font-size: 24px;
	font-weight: bold;
	color: #0073e6; /* Change the color to  preference */
}


/* Service Product form goes here*/

/* Apply styles to form labels */

.sw-textarea{
	width: 400px;
	padding: 8px;
	margin-bottom: 10px;
	height:250px;
}

/* Apply styles to the image preview container */
.sw-form-image-preview {
	margin-top: 10px;
	width: 100%;
	max-width: 250px;
}

/* Style for the Grace Period number input */
.grace-period-number {
	width: 80px;
	margin-right: 5px;
	padding: 5px;
}

/* Style for the Grace Period unit select */
.select-grace-period-unit {
	max-width: 20px;
	padding: 6px; /* Adjust the padding as needed */
}

/* Service Product form ends here*/

/************************************All form CSS starts here****************************************/

.sw-form-container {
	max-width: 90%;
	justify-content: space-around;
	margin: 20px 0;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	margin-bottom: 20px;
}

.sw-product-download-field-container {
	display: none;
	background-color: #fff;
	margin: 20px auto;
	padding: 10px;
	
}

.sw-product-download-fields {
    margin: 20px auto;
	width: 90%;
}

.sw-product-type-container label {
	font-weight: 500;
    display: inline;
    margin-bottom: 20px;
	width: 100%;
}

.sw-product-download-fields input,
.sw-product-download-fields button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.sw-product-download-fields .swremove-field {
    color: red;
    cursor: pointer;
}


/* Custom CSS for the product configuration container */

.sw-configure-container {
	max-width: 1000px;
	margin: 10px auto 60px;
	padding: 20px;
	height: 300px;
	background-color: #fff;
	border: 2px solid #faefef; /* Add a border */
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	}

	/* Styles for inv-settings-form */
.inv-settings-form {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



	.sw-form-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px; /* Add some spacing between rows */
	}

	.sw-form-label {
	flex: 1;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;

	}

	.sw-form-checkbox {
	flex: 0.7;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;

	}

	.sw-field-description {
	background-color: black;
	color: rgb(255, 255, 255);
	border-radius: 50%;
	padding: 2px;
	font-weight: bold;
	font-size: 11px;
	text-align: center;

	}

	/* Style for form descriptions (visible on hover) */
	.sw-field-description {
	margin-left: 5px; /* Add some space between the label and the question mark */
	cursor: help;
	position: relative;
	}



	.sw-cart-form {
	width: 100%;
	}


	.sw-form-input {
	max-width: 400px;
	padding: 8px;
	margin-bottom: 10px;
	width: 100%;

	border: 2px solid #fffefe;
	box-sizing: border-box;

	border-radius: 5px;
	}

/************************************All form CSS ends here****************************************/


/*********************Invoice Page CSS Starts Here*********************************/
/*Invoice Details page*/
/* Style for the main container */
.invoice-details {
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 8px;
}

/* Style for the heading */
.invoice-details h2 {
	color: #333;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

/* Style for each invoice detail item */
.smartwoo-container-item {
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}



.smartwoo-container-item span {
	font-weight: bold;
	margin-right: 10px;
	font-size: 16px;
}


/* Style for the "Invoice not found" message */
.smartwoo-container-item.not-found {
	color: red;
	font-style: italic;
}

.sw-error-notice {
	margin: 20px auto;
	padding: 10px;
	border: 2px solid #f55247;
	border-radius: 8px;
	background-color: #ffffff;
	color: #000000;
	width: 50%;
	text-align: center;
}
.sw-error-notice p {
	text-align: left;
}
.sw-notice{
	margin: 20px auto;
	padding: 10px;
	min-height: 40px;
	border: 1px solid #1764f5;
	border-radius: 8px;
	background-color: #ffffff;
	color: #000000;
	width: 50%;
	text-align: center;
}
.sw-notice p { 
	font-weight: bold; 
	text-align: center;
	max-width: 100%;
}

/* Settings and Documentation CSS */
.sw-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sw-left-column {
	background-color: #fff;
	border-radius: 9px;
	padding: 20px;
	width: 20%;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
}
.sw-right-column {
	background-color: #fff;
	border-radius: 9px;
	padding: 20px;
	width: 70%;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);

}
.sw-left-column ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sw-left-column li {
	margin: 40px;
	text-align: center;

}

.instruction {
	display: none;
}

.settings-nav{
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: rgb(121, 59, 88);
	color: rgb(255, 255, 0);
	border: 2px solid #7589fc;
	width: 100px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
.settings-nav:hover{
	color: #fafafa
}
.settings-nav:focus{
	color: #fafafa;
	box-shadow: 0 10px 10px rgba(248, 7, 7, 0.959);

}



/************************************************************************************/
/**************************CSS for admin pages ends here*****************************/
/************************************************************************************/







/************************************************************************************/
/**************************FrontEnd  CSS Starts here **********************************/
/************************************************************************************/


/* Style for the service navigation bar */
.service-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
}

.navbar-title-container h3 {
    margin: 0;
}

.navbar-links-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links-container li {
    margin-left: 15px;
}

.navbar-links-container a {
    text-decoration: none;
    color: #333;
}

.sw-menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links-container {
        display: none;
    }

    .sw-menu-icon {
        display: block;
    }

    .navbar-links-container ul {
        flex-direction: column;
    }

    .navbar-links-container li {
        margin: 10px 0;
    }

    .service-navbar.active .navbar-links-container {
        display: flex;
    }
}



/* Add some basic styling to the container */
.status-counts {
	display: flex;
	justify-content: space-around;
	background-color: #333;
	padding: 10px;
}

/* Style each status count link */
.status-counts p {
	margin: 0;
}

.status-counts a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.status-counts a:hover {
	background-color: #0056b3;
}

.smartwoo-front-assets-container {
	display: none;
}


/***************************************************************************************************
////////////////////////////////////////////CSS for the Invoice page ///////////////////////////////
/***************************************************************************************************
/* Table Styles */
.sw-table-wrapper {
    overflow-x: auto;
}

.sw-table {
    width: 90%;
    border-collapse: collapse;
	border-radius: 9px;
	margin: 20px auto;
    background-color: #fff;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
    overflow: hidden;
}

.sw-table th, .sw-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sw-table th {
    background-color: #ffe1f5;
    color: #0e0101;
	font-weight: bold;
}

.sw-table:hover {
    background-color: #ffffff;
	box-shadow: none;

}

.sw-table-count {
	text-align: right;
	font-weight: bold;
	margin-top: 10px;
}

/* Responsive Styles for mobile devices */
@media only screen and (min-width: 320px) and (max-width: 720px) {

    .sw-table {
        width: 90%;
        max-width: 100%; /* Adjusted to take full width on small screens */
        box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
        overflow-x: auto; /* Added to enable horizontal scrolling if needed */
    }

    .sw-table thead,
    .sw-table tbody,
    .sw-table th,
    .sw-table td,
    .sw-table tr {
        display: block;
    }

    .sw-table tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sw-table tbody td {
        text-align: left;
        padding: 15px;
        border-bottom: 1px solid #ddd;
        width: 100%; /* Make the cells take full width */
    }
}



/* Style the invoice container to resemble A4 paper */
/* Increase the minimum height for the container and add space at the bottom */
.invoice-container {
	width: 21cm;
	min-height: 35cm; /* Minimum height to fit initial content */
	margin: 20px auto 80px auto; /* Add more space at the bottom */
	background: white;
	padding: 2cm;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}


.invoice-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -70px;
	margin-bottom: 20px;
}

/* Style the header section to align the logo and status */
.invoice-preview header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px; /* Add space below the header */
}

/* Style the logo to be at the top left */
.logo {
	max-width: 150px;
	width: 80%;
	float: left;
	margin-right: 10px;
}


/* Style the status to be at the top right with a red background */
.invoice-status {
	background-color: red;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

/* Style the invoice number to be centered and bold */
.invoice-number {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px; /* Add spacing above the invoice number */
	border-bottom: 1px solid #000;
}

/* Add media query for responsiveness */
@media only screen and (min-width: 320px) and (max-width: 768px){
	/* Adjust styles for smaller screens here */
	.invoice-container {
	width: 90%;
	margin: 10px auto 20px auto; /* Adjust margin as needed */
	}
	.logo {
		max-width: 30%; /* Adjust max-width for smaller screens */
	}
	.mini-card-container{
		font-size: 12px;
	}
	.invoice-number {
		font-size: 14px;
	}
	.invoice-header {
		width: 100%;
	}

}

/* Ensure both sections are displayed as blocks */
.invoice-reference,
.invoice-pay-to {
	display: block;
}

/* Style the container for both sections */
.invoice-details-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px; /* Adjust the margin as needed */
}

/* Style the left section (Client Details) */
.invoice-details-left {
	width: 50%; 
	float: left;
	font-size: 16px;
	text-align: left;
}

/* Style the right section (Business Details) */
.invoice-details-right {
	width: 50%; /* Adjust the width as needed */
	float: right;
	font-size: 16px; /* Adjust the font size as needed */
	text-align: right;
}

/* Style the headings */
.invoice-details-container h3 {
	font-weight: bold;
	font-size: 15px;
}

/* Style the individual paragraphs within each section */
.invoice-details-container p {
	margin: 5px 0; /* Adjust the margin as needed */
}

/* CSS for Invoice Date and Payment Method sections */
.invoice-date-payment {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.invoice-date, .payment-method {
	flex: 1;
	text-align: left;
}

.payment-method {
	text-align: right;
}

/* Style the invoice items section */
.invoice-items {
	margin-top: 20px; /* Add some top margin to separate it from the previous section */
}

/* Style the invoice card */
.invoice-card {
	background-color: #ffffff; /* White background */
	border: 1px solid #c0a7a7; /* Gray border */
	padding: 10px; /* Add padding to the card */
	border-radius: 5px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the card header with Description and Amount */
.invoice-card-header {
	display: flex;
	justify-content: space-between;
	background-color: #f0f0f0;
	padding: 5px 10px;
	font-weight: bold;
}

/* Style the individual items within the card */
.invoice-item {
	display: flex; /* Display items in a row */
	justify-content: space-between; /* Space them evenly */
	padding: 5px 10px; /* Add padding to each item */
}

/* Style the total item differently */
.invoice-item.total {
	background-color: #f0f0f0; /* Gray background for the total item */
	font-weight: bold; /* Make the total item text bold */
}

.mini-card-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/* Style the thank you message */
.thank-you-message {
	margin-top: 5%; /* Add top margin to separate it from the mini cards */
}

/* Style the "Kind Regards" message */
.regards {
	font-weight: bold; /* Make it bold */
}

.download-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.download-button:hover {
	background-color: #0055a4;
}

/********************************************************************************************************
//////////////////////////////////////// Invoice page CSS ends here /////////////////////////////////////
/********************************************************************************************************




/* service-cards.css */
.service-card {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}

/* Style for the mini service cards */
.service-mini-card {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}

.service-mini-card p {
	margin: 0;
	font-size: 16px;
}

.service-mini-card a.button {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 16px;
	background-color: #0073e6;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.service-mini-card a.button:hover {
	background-color: #005bbd;
}




/* Style for the main page heading */
.serv-main {
	text-align: center;
	margin-top: 20px;

}

/* Style for the outer container of service cards on the main page */
.client-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Style for each individual service card on the main page */
.main-page-card {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px;
	width: calc(50% - 20px); /* Two cards per row on larger screens */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
	transition: transform 0.2s ease-in-out;
}

.main-page-card:hover {
	transform: translateY(-5px);
}

.main-page-card h3 {
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px; /* Space between service name and other details */
	border-bottom: 1px solid #ccc; /* Horizontal line below the service name */
	color: #333;
}

.main-page-card p {
	font-size: 14px;
	color: #666;
	margin: 10px 0;
}

/* Style for the "View Details" button on the main page */
.main-page-card .view-details-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out;
}

.main-page-card .view-details-button:hover {
	background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
	.client-services {
	flex-direction: column; /* Stack cards vertically on smaller screens */
	}

	.main-page-card {
	width: 100%; /* Full width for cards on smaller screens */
	}
}

/** Style for assets container */
.smartwoo-assets-container {
	display: flex;
	justify-content: space-between;
}
.smartwoo-assets-container .serv-details-card {
	width: 45%;
}

@media (min-width: 320px) and ( max-width: 768px) {
	.smartwoo-assets-container {
		flex-wrap: wrap;
	}
	.smartwoo-assets-container .serv-details-card {
		width: 95%;
	}
}
/* Style for the service details card */
.serv-details-card {
	padding: 20px;
	align-items: center;
	border-radius: 9px;
	margin: 20px auto;
	width: 70%;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	background-color: #ffffff;
	transition: transform 0.2s ease-in-out;
}

.serv-details-card:hover {
	transform: translateY(-5px);
	box-shadow: none;

}

.serv-details-card h3 {
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px; /* Space between service name and other details */
	border-bottom: 1px solid #ccc; /* Horizontal line below the service name */
	font-weight: bold;
	text-align: center;
}

.serv-details-card p {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}

/* Style for the "Open Service" button on the service details card */
.serv-details-card .open-service-button {
	display: block; /* Display as block element to center */
	margin: 0 auto; /* Center horizontally */
	padding: 10px 20px;
	background-color: #e66f00;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out;
	text-align: center;

}

.serv-details-card .open-service-button:hover {
	background-color: #0056b3;
	color: white;
}

/* Style for the "Back to Services" button */
.back-button-container {
	text-align: center; /* Center-align the button */
	margin-top: 20px; /* Add some top margin for spacing */
}

.back-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out;
	border: 2px solid #fafafa;
}

.back-button:hover {
	background-color: #0056b3;
	color: rgb(239, 245, 248);
}



/* Style for the "My Services" heading */
.mini-card h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #1707f5; /* Add a border below the heading */
	padding-bottom: 5px; /* Add some space between the heading and the border */
}

/* Style for the mini-card container */
.mini-card {
	background-color: rgb(255, 255, 255);
	max-width: 600px;
	width: 50%;
	border-radius: 9px;
	justify-content: space-around;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	margin-bottom: 20px;
}


/* Style for each service name link and status */
.mini-card p {
	margin: 0;
	padding: 0;
	color: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mini-card a {
	text-decoration: none;
	font-weight: bold;
}

.mini-card a:hover {
	text-decoration:double;
}

/* Style for the horizontal line */
.mini-card hr {
	margin: 5px 0;
	border: 1px solid #13003f;
}



/* Style for the "Renew" button */
.renew-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4caf50; /* Green color */
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px; /* Add margin to separate from the "Back to Services" button */
	transition: background-color 0.2s ease-in-out;
}

.renew-button:hover {
	background-color: #45a049; /* Darker green color on hover */
}


.invoice-pay-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #f4511e;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
}

.invoice-preview-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #5c06e6;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
}

.invoice-preview-button:hover{
	color: #ffffff;
}



.invoice-status-counts {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px auto;
	background-color: #ffffff;
	border: 1px solid #918d8d;
	border-radius: 7px;
	padding: 20px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	text-align: center;
	margin-bottom: 20px;
	max-width: 800px;
	width: 70%;
}

.status-item {
	flex-basis: calc(50% - 10px);
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: #000;
	background-color: #ffffff;

}


.transaction-status-list {
	list-style-type: none;
	padding: 0;
}

.transaction-status-list li {
	margin: 10px 0; /* Add margin at the bottom of each list item */
	font-weight: bold;
	color: #000;
}


/* Container for Settings and Tools Section */
.settings-tools-section {
	align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
    margin: 20px auto;
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
	width: 90%;
}

/* Header Style */
.settings-tools-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* Button Container Style */
.sw-button-container {
    display: flex;
    gap: 15px;
}

/* Minibox Button Style */
.minibox-button  {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media only screen and (min-width: 320px) and (max-width: 768px){

	.sw-button-container{
		gap: 1px;
	}

	.minibox-button {
		font-size: 10px;
		padding: 6px 12px;
		flex-direction: row;
	}
}

.minibox-button:hover {
    background-color: #2980b9;
}

/* AJAX Content Container Style */
#ajax-content-container {
    margin-top: 20px;
    /* Add more styles as needed for the AJAX content container */
}


/* Style the user details container */
.smartwoo-details-container {
	border: 1px solid #ccc;
	border-radius: 8px; /* Add rounded corners for a card-like appearance */
	overflow: hidden; /* Ensure rounded corners are applied */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
	padding: 20px;
	margin: 20px auto; /* Center the container and control left/right margin */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px; /* Set a maximum width for the container */
}

/* Style the heading within the container */
.smartwoo-details-container h3 {
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 18px;
	background-color: red;
	color: white;
	border-radius: 9px;
}



.select-service-container{
	display: block;
	justify-content: space-between;

}

/* Style for the select options */
.select-service-container select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}


/* Base styles for larger screens */
.migration-order-container {
	border-radius: 8px;
	padding: 20px;
	margin: 20px auto; /* Auto margin for centering */
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 60%;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
}

.migrate-order-details {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	text-align: left;
	color: #333;
	flex-grow: 1;
}

.upgrade-section-title,
.migrate-summary-tittle {
	font-size: 24px;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.migrate-summary-tittle {
	margin-top: 10px;
}

.migrate-order-details p {
	margin-bottom: 10px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 600px) {
	.migration-order-container {
	flex-direction: column; /* Stack items vertically on smaller screens */
	width: 90%; /* Adjust width for smaller screens */
	}

	.migrate-order-details {
	width: 100%; /* Full width for inner content on smaller screens */
	}
}


/* Form Containers and Input fields*/
.sw-cart-form {
	width: 100%;
}




/** Product CSS **/
.sw-product-container {
	display: inline-block;
	vertical-align: top;
	justify-content: space-around;
	min-height: 400px;
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
	width: 45%; /* Adjust width and consider margin */
	margin: 20px auto; /* Add horizontal margin for spacing */
	padding: 20px; /* Add padding to create space within the boxes */
	align-items: center;

	box-sizing: border-box;
}

.sw-product-container h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

.sw-product-container p {
	margin-bottom: 8px;
}



/* Clearfix to prevent float issues */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Responsive styling */
@media (max-width: 768px) {
	.sw-product-container {
		width: calc(50% - 20px);
		/* Two columns on smaller screens */
	}
}

@media (max-width: 480px) {
	.sw-product-container {
		width: 100%;
		/* One column on even smaller screens */
	}
}

.sw-configured-product-container {
	display: block;
	
}

.sw-configured-product {
color: rgb(56, 104, 236);
text-decoration:rgb(236, 236, 13);
font-family: poppins;
font-weight: 100;
}


#swloader {
	display: none;
	width: 150px;
	background-color: #eb0d0d;
	color: rgb(255, 255, 255);
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50%;
	font-weight: bold;
	text-align: center;
	animation: pulse 0.3s infinite ease-in-out;
}

@keyframes pulse {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}


/************************************************************************************/
/**************************Front End CSS ends here **********************************/
/************************************************************************************/


.sw-accordion-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(3, 1, 2, 0.2);
    background-color: rgb(255, 230, 230);
    height: auto;

}

.sw-accordion-container:hover{
    box-shadow:none;
}

.sw-accordion-container .sw-accordion-btn{
	justify-items: center;
}

/* Style the accordion */
.sw-upsell-accordion {
    margin-bottom: 20px;
    margin-top: 40px;
	margin-left: 20px;
	width: 100%;
}

/* Style the accordion button */
.sw-accordion-btn {
	
    background-color: #f50000;
    color: #ffffff;
    cursor: pointer;
    padding: 9px;
    border: none;
	border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
	font-size: 20px;
	font-weight: bold;
	margin-left: 40px;
    margin-right: 40px;
	margin-bottom: 10px;

}

/* Style the active button */
.sw-accordion-btn:hover {
    background-color: #355ee7;
	color: #8eff0e;
}

/* Style the active button */
.sw-accordion-btn.active {
    background-color: #0e0101;
	color: rgb(255, 255, 255);
}

/* Style the accordion panel */
.sw-upsell-panel {
    display: none;
    background-color: white;
    overflow: hidden;
	max-width: 80%;
	padding: 9px;

}

.sw-upsell-panel p {
	font-weight: bold;
}

/* Show the panel when the button is clicked */
.sw-upsell-accordion.active .sw-upsell-panel {
    display: block;
}


/****************LOGIN FORM **********************/
.smartwoo-login-form{
	background-color: #ffffff;
	border-radius: 9px;
	margin-bottom: 20px !important;
	width: 70%;	
}

.smartwoo-login-form-content{
	width: 95%;
	margin: 20px auto;
	padding: 20px;
}
.smartwoo-login-form-notice {
	text-align: left;
	font-weight: bold;
}

.smartwoo-login-form-body {
	background-color: #f1f1f5;
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-bottom: 20px;
}

.smartwoo-login-form-label {
	font-weight: bold;
	color: #000000;
	margin-left: 5px;
	min-width: 20%;

}

.smartwoo-login-input {
	display: flex;
	border-radius: 5px;
	margin-left: 60px;
	width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.smartwoo-login-form-body {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.smartwoo-login-form-label{
		min-width: none;
	}
	.smartwoo-login-input{
		display: block;
		margin-left: 0px;
	}
}