/*************************************ALL INVOICE TEMPLATE CSS IS WRITTEN HERE**********************************/
.sw-invoice-template {
    width: 60%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.sw-invoice-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sw-invoice-logo {
    align-items: center;
    margin: 20px;
}
.sw-invoice-logo img{
    max-width: 200px;
    max-height: 200px;
}

.sw-invoice-status {
   align-self: last baseline;
   background-color: #f1f1f1;
   width: 450px;
   max-width: 100%;
   transform: rotate(40deg);
   transform-origin: bottom right;
    
}

.sw-invoice-status p {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.sw-invoice-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 10px auto;
    padding: 5px;
    background-color: #f1f1f1;
}

.sw-invoice-number span {
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
}

.sw-invoice-number .sw-invoice-dates {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #000;
}

.sw-invoice-reference {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-size: 14px;

}
.sw-invoice-reference .sw-invoice-reference-invoiced-to {
    width: 45%;
}

.sw-invoice-reference .sw-invoice-reference-pay-to {
    width: 45%;
}

.sw-invoice-items-container {
    display: block;
    padding: 20px;
    width: 100%;
}

.sw-invoice-item-item-container {
    display: block;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}
.sw-invoice-item-table {
    border: solid #f1f1f1 .5px;
    border-radius: 9px;

}

.sw-invoice-item-table thead {
    background-color: #f1f1f1;
    border-radius: 9px;
}

.sw-invoice-item-table tbody {
    background-color: #ffffff;
}

.sw-invoice-item-summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 30px;
}

.sw-invoice-footer {
    width: 90%;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px 20px 30px 20px;
    border-radius: 9px;

}

.sw-invoice-footer .sw-block-button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sw-invoice-footer .sw-thank-you {
    text-align: center;
    font-weight: bold;
}

.sw-invoice-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px auto;
    gap: 20px;
    overflow: hidden;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #aaabec #fff;}

.sw-invoice-metadata:hover {
    overflow: auto;
}

.sw-invoice-meta-cards {
    margin: 20px auto;
    border: solid blue .5px;
    border-radius: 3px;
    padding: 10px;
    min-width: 300px;
    height: 150px;
}
.sw-invoice-meta-cards p {
    text-align: center;
}

.sw-invoice-meta-cards p:first-child {
    font-size: 16px;
    font-weight: bold;
}
.sw-invoice-meta-cards .sw-invoice-card-footer-value {
    text-decoration: none;
}
.sw-invoice-meta-cards .sw-invoice-card-footer-value a {
    color: #0073e6;
    text-decoration: none;
}
@media (min-width: 280px) and (max-width:768px) {
    .sw-invoice-template {
        margin: 10px auto;
        width: 90%;
    }
    .sw-invoice-status p {
        margin-left: 20px;
    }

    @media (min-width: 426px) and (max-width: 648px) {
        .sw-invoice-logo img {
            max-width: 150px;
            max-height: 150px;
        }
    }

    @media(max-width:425px) {
        .sw-invoice-logo img {
            max-width: 100px;
            max-height: 100px;
        }

        .sw-invoice-status {
            transform: rotate(45deg);
            width: 1000px;
        }
    }

    @media (min-width: 190px) and (max-width: 340px) {
        .sw-invoice-template {
            width: 99%;
        }
        .sw-invoice-logo img{
            max-width: 80px;
            max-height: 80px;
        }
        .sw-invoice-status p{
            margin-left: none;
        }

        .sw-invoice-item-item-container {
            position: relative;
            width: 100%;
            margin: none;
        }

        .sw-invoice-meta-cards {
            min-width: 230px;
        }

    }
}

.sw-cls-btn-no-print {
    color: #ffffff;
    background-color: red;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 10;
    left: 90%;
    z-index: 9999;
}

@media print {
    .sw-cls-btn-no-print {
        display: none;
    }
    
}