/* email-styles.css */
.sw-email-body {
	font-family: Arial, sans-serif;
}

.sw-email-container {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 20px;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.sw-email-img {
	max-width: 200px;
}
